<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

    </style>
</head>
<body>
 <table>
  <tr>
    <th>Name</th>
    <th>Department</th>
    <th>Designation</th>
    <th>Nature of Leave</th>
    <th>Period From:</th>
    <th>Period To:</th>

  </tr>
  <tr>
    <td>{{name_1}}</td>
    <td>{{dept_2}}</td>
    <td>{{designation_3}}</td>
    <td>{{NOL_4}}</td>
    <td>{{PF_5}}</td>
    <td>{{PT_6}}</td>
  </tr>
  <tr>
     <td>{{name_1}}</td>
    <td>{{dept_2}}</td>
    <td>{{designation_3}}</td>
    <td>{{NOL_4}}</td>
    <td>{{PF_5}}</td>
    <td>{{PT_6}}</td>
  </tr>
  <tr>
     <td>{{name_1}}</td>
    <td>{{dept_2}}</td>
    <td>{{designation_3}}</td>
    <td>{{NOL_4}}</td>
    <td>{{PF_5}}</td>
    <td>{{PT_6}}</td>
  </tr>
  <tr>
     <td>{{name_1}}</td>
    <td>{{dept_2}}</td>
    <td>{{designation_3}}</td>
    <td>{{NOL_4}}</td>
    <td>{{PF_5}}</td>
    <td>{{PT_6}}</td>  </tr>
  <tr>
     <td>{{name_1}}</td>
    <td>{{dept_2}}</td>
    <td>{{designation_3}}</td>
    <td>{{NOL_4}}</td>
    <td>{{PF_5}}</td>
    <td>{{PT_6}}</td>
  </tr>
  <tr>
     <td>{{name_1}}</td>
    <td>{{dept_2}}</td>
    <td>{{designation_3}}</td>
    <td>{{NOL_4}}</td>
    <td>{{PF_5}}</td>
    <td>{{PT_6}}</td>
  </tr>
   <tr>
     <td>{{name_1}}</td>
    <td>{{dept_2}}</td>
    <td>{{designation_3}}</td>
    <td>{{NOL_4}}</td>
    <td>{{PF_5}}</td>
    <td>{{PT_6}}</td>
  </tr>
  <tr>
     <td>{{name_1}}</td>
    <td>{{dept_2}}</td>
    <td>{{designation_3}}</td>
    <td>{{NOL_4}}</td>
    <td>{{PF_5}}</td>
    <td>{{PT_6}}</td>
  </tr>
  <tr>
   <td>{{name_1}}</td>
    <td>{{dept_2}}</td>
    <td>{{designation_3}}</td>
    <td>{{NOL_4}}</td>
    <td>{{PF_5}}</td>
    <td>{{PT_6}}</td>
  </tr>
  <tr>
     <td>{{name_1}}</td>
    <td>{{dept_2}}</td>
    <td>{{designation_3}}</td>
    <td>{{NOL_4}}</td>
    <td>{{PF_5}}</td>
    <td>{{PT_6}}</td>
  </tr>
  <tr>
    <td>{{name_1}}</td>
    <td>{{dept_2}}</td>
    <td>{{designation_3}}</td>
    <td>{{NOL_4}}</td>
    <td>{{PF_5}}</td>
    <td>{{PT_6}}</td>
  </tr>
  <tr>
     <td>{{name_1}}</td>
    <td>{{dept_2}}</td>
    <td>{{designation_3}}</td>
    <td>{{NOL_4}}</td>
    <td>{{PF_5}}</td>
    <td>{{PT_6}}</td>
  </tr>
  <tr>
     <td>{{name_1}}</td>
    <td>{{dept_2}}</td>
    <td>{{designation_3}}</td>
    <td>{{NOL_4}}</td>
    <td>{{PF_5}}</td>
    <td>{{PT_6}}</td>
  </tr>
  <tr>
     <td>{{name_1}}</td>
    <td>{{dept_2}}</td>
    <td>{{designation_3}}</td>
    <td>{{NOL_4}}</td>
    <td>{{PF_5}}</td>
    <td>{{PT_6}}</td>
  </tr>
  <tr>
<td>{{name_1}}</td>
    <td>{{dept_2}}</td>
    <td>{{designation_3}}</td>
    <td>{{NOL_4}}</td>
    <td>{{PF_5}}</td>
    <td>{{PT_6}}</td>
  </tr>
  <tr>
  <td>{{name_1}}</td>
    <td>{{dept_2}}</td>
    <td>{{designation_3}}</td>
    <td>{{NOL_4}}</td>
    <td>{{PF_5}}</td>
    <td>{{PT_6}}</td>
  </tr>
  <tr>
    <td>{{name_1}}</td>
    <td>{{dept_2}}</td>
    <td>{{designation_3}}</td>
    <td>{{NOL_4}}</td>
    <td>{{PF_5}}</td>
    <td>{{PT_6}}</td>
  </tr>
  <tr>
    <td>{{name_1}}</td>
    <td>{{dept_2}}</td>
    <td>{{designation_3}}</td>
    <td>{{NOL_4}}</td>
    <td>{{PF_5}}</td>
    <td>{{PT_6}}</td>
  </tr>
  <tr>
    <td>{{name_1}}</td>
    <td>{{dept_2}}</td>
    <td>{{designation_3}}</td>
    <td>{{NOL_4}}</td>
    <td>{{PF_5}}</td>
    <td>{{PT_6}}</td>
  </tr>
  <tr>
    <td>{{name_1}}</td>
    <td>{{dept_2}}</td>
    <td>{{designation_3}}</td>
    <td>{{NOL_4}}</td>
    <td>{{PF_5}}</td>
    <td>{{PT_6}}</td>
  </tr>
  <tr>
    <td>{{name_1}}</td>
    <td>{{dept_2}}</td>
    <td>{{designation_3}}</td>
    <td>{{NOL_4}}</td>
    <td>{{PF_5}}</td>
    <td>{{PT_6}}</td>
  </tr>
  <tr>
    <td>{{name_1}}</td>
    <td>{{dept_2}}</td>
    <td>{{designation_3}}</td>
    <td>{{NOL_4}}</td>
    <td>{{PF_5}}</td>
    <td>{{PT_6}}</td>
  </tr>
  <tr>
    <td>{{name_1}}</td>
    <td>{{dept_2}}</td>
    <td>{{designation_3}}</td>
    <td>{{NOL_4}}</td>
    <td>{{PF_5}}</td>
    <td>{{PT_6}}</td>
  </tr>
    <tr>
     <td>{{name_1}}</td>
    <td>{{dept_2}}</td>
    <td>{{designation_3}}</td>
    <td>{{NOL_4}}</td>
    <td>{{PF_5}}</td>
    <td>{{PT_6}}</td>
  </tr>
  <tr>
     <td>{{name_1}}</td>
    <td>{{dept_2}}</td>
    <td>{{designation_3}}</td>
    <td>{{NOL_4}}</td>
    <td>{{PF_5}}</td>
    <td>{{PT_6}}</td>
  </tr>
  <tr>
<td>{{name_1}}</td>
    <td>{{dept_2}}</td>
    <td>{{designation_3}}</td>
    <td>{{NOL_4}}</td>
    <td>{{PF_5}}</td>
    <td>{{PT_6}}</td>
  </tr>
  <tr>
  <td>{{name_1}}</td>
    <td>{{dept_2}}</td>
    <td>{{designation_3}}</td>
    <td>{{NOL_4}}</td>
    <td>{{PF_5}}</td>
    <td>{{PT_6}}</td>
  </tr>
  <tr>
    <td>{{name_1}}</td>
    <td>{{dept_2}}</td>
    <td>{{designation_3}}</td>
    <td>{{NOL_4}}</td>
    <td>{{PF_5}}</td>
    <td>{{PT_6}}</td>
  </tr>
  <tr>
    <td>{{name_1}}</td>
    <td>{{dept_2}}</td>
    <td>{{designation_3}}</td>
    <td>{{NOL_4}}</td>
    <td>{{PF_5}}</td>
    <td>{{PT_6}}</td>
  </tr>
  <tr>
    <td>{{name_1}}</td>
    <td>{{dept_2}}</td>
    <td>{{designation_3}}</td>
    <td>{{NOL_4}}</td>
    <td>{{PF_5}}</td>
    <td>{{PT_6}}</td>
  </tr>
  <tr>
    <td>{{name_1}}</td>
    <td>{{dept_2}}</td>
    <td>{{designation_3}}</td>
    <td>{{NOL_4}}</td>
    <td>{{PF_5}}</td>
    <td>{{PT_6}}</td>
  </tr>
</table>

</body>
</html>